<section class="color-mode">
    <h2>Color Mode</h2>
    <form method="post" action="/account/color-theme/edit">
        <div class="color-mode__slider-container">
            <div class="color-mode__slider-track">
                <% if (colorMode == 'light-pink') { %>
                    <div class="color-mode__slider right"></div>
                <% } else { %>
                    <div class="color-mode__slider left"></div>
                <% } %>
            </div>
        </div>

        <input id="account_color_mode" type="hidden" name="account_color_mode" value="<%= colorMode %>" />

        <input type="submit" value="Change Color Mode" class="color-mode__submit" disabled>
    </form>
</section>

<section class="share">
    <h2>Share With Your Budget Buddy!</h2>

    <p class="note">Share this code with your partner to allow them to join your budget.</p>
    <div class="share__share">
        <button id="share-link" class="button">Share Link</button>
        <button id="share-button" class="button bg-primary-gradient">Share</button>
    </div>
        
    <script>
        document.getElementById('share-link').addEventListener('click', function() {
            const shareCode = '<%= shareCode %>';
            const shareUrl = `http://budgetbuddies.fieldtechinnovations.com/account/register/${shareCode}`;
            navigator.clipboard.writeText(shareUrl).then(() => {
                document.getElementById('share-link').textContent = 'Link Copied!';
            }).catch(err => {
                console.error('Failed to copy: ', err);
            });
        });

        document.getElementById('share-button').addEventListener('click', function() {
            const shareCode = '<%= shareCode %>';
            const shareUrl = `http://budgetbuddies.fieldtechinnovations.com/account/register/${shareCode}`;
            if (navigator.share) {
                navigator.share({
                    title: 'Join My Budget',
                    text: 'I would like you to join my budget on Budget Buddies!',
                    url: shareUrl
                }).then(() => {
                    console.log('Share successful');
                }).catch(err => {
                    console.error('Share failed:', err);
                });
            } else {
                alert('Sharing not supported in this browser.');
            }
        });
    </script>

    <h3>Accounts Registered on this Budget</h3>
    <div class="settings__accounts">
        <%- budgetAccountsHtml %>
    </div>
</section>

<section class="budget">
    <h2>Budget Settings</h2>

    <form class="standard-form" method="post" action="/settings/edit-budget-day">
        <label style="margin-bottom: 5px;" for="bg_budget_reset">Budget Reset Day</label>
        <div class="form-group">
            <input style="text-align: center;" id="bg_budget_reset" name="bg_budget_reset" type="number" min="1" max="28" value="<%= budgetResetDay %>">
        </div>
        <input id="bg_budget_reset_btn" type="submit" value="Change" disabled>
    </form>
</section>