<form id="meal-form" class="standard-form" method="POST" action="/life/meal" >
    <input type="hidden" name="meal_id" value="<%= mealData.meal_id %>" />
    <div class="form-group">
        <label for="meal_name">Name</label>
        <input type="text" id="meal_name" name="meal_name" value="<%= mealData.meal_name %>" />
    </div>

    <div class="form-group">
        <label for="meal-ingredients">Meal Ingredients</label>
        <a href="/life/ingredients/<%= mealData.meal_id %>">Modify Ingredients</a>
        <div class="ingredients-display">

        </div>
    </div>
    
    <div class="form-group">
        <label for="meal_link">Recipe Link</label>
        <input type="text" id="meal_link" name="meal_link" value="<%= mealData.meal_link || '' %>" />
    </div>

    <div class="form-group">
        <label for="meal_instructions">Instructions</label>
        <textarea id="meal_instructions" name="meal_instructions"><%= mealData.meal_instructions || '' %></textarea>
    </div>

    <input type="submit" value="Save" />
</form>